
/*color variable*/
:root {
	--bkgnd-color : #222;
	--dark-bkgnd-color : #111;
	/*--bkgnd-highlight-color : #222;*/
	--bkgnd-highlight-color : rgba(40,40,40,1);
	--header-bkgnd-color : #111;
	--font-color : #DDD;
	--font-readonly-color : #888;
	--font-color-hide : #777;
	--bkgnd-1th-color : #222;
	--bkgnd-2th-color : #222;
	--dialog-header-bkgnd-color: #000;
	--dialog-header-bkgnd-highlight-color: #222;
	--button-border-width: 1px;
	--button-border-color: rgba(255,255,255,0.4);
	--button-bkgnd-color: #222;
	--button-hover-color: #333;
	--button-disabled-color: #222;
	--button-font-color: #CCC;	
	--button-disabled-border-color: rgba(255,255,255,0.1);
	--minibutton-bkgnd-color: #666;
	--input-bkgnd-color: #111;
	--input-disable-bkgnd-color: rgba(17,17,17,0.5);
	--textarea-bkgnd-color: #111;
	--slider-bkgnd-color: #111;
	--slider-bkgnd-highlight-color: #333;
	--slider-thumb-bkgnd-color: #666;
	--slider-play-bkgnd-color: rgba(129, 48, 7, 1);
	--collaps-bkgnd-color: rgba(60,60,60,1);
	--collaps-bkgnd-highlight-color: rgba(70,70,70,1);
	--tab-bkgnd-color: #222;
	--table-header-bkgnd-color: rgba(40,40,40,1);
	--table-bkgnd-1th-color : #222;
	--table-bkgnd-2th-color : #333;
	--table-bkgnd-highlight-color : #444;
	--list-bkgnd-1th-color : #222;
	--list-bkgnd-2th-color : #333;
	--list-bkgnd-highlight-color : #444;
	--dragger-bkgnd-color: rgba(25,25,25,1);
	--progress-bkgnd-color: #111;
	--menubar-bkgnd-color: #222;
	--menubar-item-bkgnd-highlight-color: #555;
}

html, body 
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow : hidden;
	background-color: #333;
	user-select:none;
	-webkit-user-select: none;
}

div {
	/*background-color: #555; */
	border: 0px;
	border-color: #FFF;
}

img {
	image-rendering: -webkit-optimize-contrast;
}

input:invalid {
    box-shadow: none;
}

::-webkit-scrollbar {
	border: 1px solid #fff;
	cursor: pointer;
}
::-webkit-scrollbar-button:vertical:decrement {
	border: 1px solid #111;
	background: url('./imgs/btn_up.png');
}
::-webkit-scrollbar-button:vertical:increment {
	border: 1px solid #111;
	background: url('./imgs/btn_down.png');
}
/* ::-webkit-scrollbar-button {
	border: 1px solid #111;
	background: url('./imgs/btn.png');
} */
::-webkit-scrollbar-track {
	background: #222;
}
::-webkit-scrollbar-thumb {
	background: #666;
	border: 1px solid #222;
	/* -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1) */
	box-shadow: inset 0 0 4px rgba(0,0,0,.1);
}

.contextmenu-item {
	position: relative;
	display: inline-block;
	padding-left : 1.0rem;
	border-left: 1px solid rgba(20, 20, 20, 1);
	border-right: 1px solid rgba(20, 20, 20, 1);
	font: 400 1rem Arial;
	color: var(--font-color);
	background-color: #333;
}

.contextmenu-sidebar {
	position: relative;
	display: inline-block;
	padding-left : 1.0rem;
	text-align: center; 
	border-left: 1px solid rgba(20, 20, 20, 1);
	border-right: 1px solid rgba(20, 20, 20, 1);
	color: var(--font-color);
	background-color: #333;
	background-image:
		-webkit-linear-gradient(#333, #333, #999, #333, #333);
}

.contextmenu-item.disabled {
	display: inline-block;
	padding-left : 1.0rem;
	color: #000;
	background-color: #333;
}

/*.contextmenu-item:hover:not(.disabled){
	background-color: #0c47e9;
}
*/
.popup-input {
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-left : 1.0rem;
	width: 450px;
	height: 3rem;
	font: 400 2rem Arial;
	font-size: 2rem;
	color: #FFF;
	background-color: #444;
}

.popup-input input {
	border: 0;
	padding: 0;
	width: 250px;
	font-size: 2rem;
	padding-left : 1.0rem;
	color: #FFF;
	background-color: #000;
}

.popup-input button {
	border: 0;
	margin: 0;
	margin-top: 0rem;
	margin-left: 1rem;
	padding: 0.1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 2rem;
	color: #FFF;	
	background-color: #555;
}

.popup-input button:hover {
	background-color: #777;
}

.menubar {
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-left : 1rem;
	width: 98%;
	height: 1.5rem;
	font-size: 1rem;
	color: #FFF;
	background-color: #444;
}

.menubar button {
	border: 0;
	margin: 0;
	margin-top: 0rem;
	margin-left: 0.5rem;
	padding: 0.1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	outline:0;
	font-size: 1rem;
	color: #FFF;	
	background-color: #555;
}
.menubar button:hover {
	background-color: #777;
}
.menubar button:active {
	background-color: #333;
}

.popup-prompt {
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-left : 1.0rem;
	width: 450px;
	height: 6rem;
	font-size: 2rem;
	color: #FFF;
	background-color: #444;
}

.popup-prompt span {
	display: block;
	color: #CCC;
    text-align: center;
}

.popup-prompt input {
	border: 0;
	padding: 0;
	width: 250px;
	font-size: 2rem;
	padding-left : 1.0rem;
	color: #FFF;
	background-color: #000;
}

.popup-prompt button {
	border: 0;
	margin: 0;
	margin-top: 0rem;
	margin-left: 1rem;
	padding: 0.1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 2rem;
	color: #FFF;	
	background-color: #555;
}

.popup-prompt button:hover {
	background-color: #777;
}

.property_window {
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-left : 1rem;
	top : 2rem;
	width: 300px;
	height: 90%;
	font-size: 1rem;
	color: #FFF;
	background-color: #444;
}

.property_window #typestring {
	display: inline-block;
	resize: none;
	margin: 0;
	margin-top : 0.3rem;
	/* margin-left : 0rem;
	margin-right : 0rem; */
	padding: 0;	
	padding-top : 0.2rem;
	padding-left : 0.2rem;
	/* padding-right : 1rem; */
	border :0;	
	outline:0;

	/* top : 2rem; */
	width: 90%;
	/* width: 300px;
	height: 90%; */
	/* spellcheck : false; */
	font-size: 1.2rem;
	color: #FFF;
	background-color: #333;
}

.property_window #title {
	padding: 0;	
	margin: 0;
	font-size: 0.9rem;
	font-weight: bold;
	background-color: #444;
}

.property_window #typelist, #varlist {
	padding: 0;	
	margin-left: 1rem;
	background-color: #444;
}

.property_window #typelist-sub, #varlist-sub {
	padding: 0;	
	margin-left: 3rem;
	background-color: #444;
}

.property_window #typelist-sub, #varlist-sub input {
	/* padding: 0;	
	margin-left: 1rem; */
	padding: 3px;

	border: 1px solid rgba(100, 100, 100, 0.6);
	border-radius: 5px;
	outline: 0;
	text-align: right;
	width: 8rem;
	color: #FFF;
	background-color: #444;
}


.property_window h4,h5,h6 {
	padding: 0;	
	margin: 0;
	color: #FFF;
}

.main-header {
	position: absolute;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	width: 100%;
	height: 2rem;
	font: 400 1rem Arial;
	background-color: #111;
}

.main-side {
	position: absolute;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	width: 100%;
	height: 2rem;
	background-color: #111;
}

.main-contents {
	position: absolute;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font: 400 13.333px Arial;
	/*font-size: 1rem;*/
	background-color: #000;
}

.main-footer {
	position: absolute;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	width: 100%;
	height: 2rem;
	background-color: #111;
	/*background-color: rgb(0,122,204);*/
	/*background-color: rgb(202,81,0);*/
}


/*-------------------------------------------------------------------
 uidock
-------------------------------------------------------------------*/
.uidock {
	position: absolute;
	margin: 0;
	padding: 0;
	outline: 0px;
	background-color: var(--bkgnd-color);
}
.uidock-header {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	margin: 0;
	padding: 0;
	padding-left: 0px;

	color: var(--font-color);
	background-color: rgb(25,25,25);
}
.uidock-contents {
	position: absolute;
	margin: 0;
	padding: 0;
	color: var(--font-color);
	background-color: var(--bkgnd-color);
}

/*.uidock-contents:hover {
	background-color: #555;
}
*/
div.uidock-header-tab {
	display: flex;
	align-items: center;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	overflow:hidden;
	text-overflow: ellipsis;
    white-space:nowrap;
	color: rgb(100,100,100);
	background-color: transparent;
	cursor: default;
    -webkit-user-select:none; 
    -webkit-touch-callout:none; 
         -moz-user-select:none; 
         -ms-user-select:none; 
         user-select:none;
}
div.uidock-header-tab-show {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	overflow:hidden;
	text-overflow: ellipsis;
    white-space:nowrap;
	color: var(--font-color);
	background-color: var(--bkgnd-color);
	cursor: default;
    -webkit-user-select:none; 
    -webkit-touch-callout:none; 
         -moz-user-select:none; 
         -ms-user-select:none; 
         user-select:none;	
}
div.uidock-header-tab-close {
	display: block;
	text-align: center;
	align-items: center;
	padding: 0px;
	padding-left: 10px;
	padding-right: 0px;
	overflow:hidden;
	/*text-overflow: ellipsis;*/
    white-space:nowrap;
	color: transparent;
	background-color: transparent;
	cursor: default;
    -webkit-user-select:none; 
    -webkit-touch-callout:none; 
         -moz-user-select:none; 
         -ms-user-select:none; 
         user-select:none;	
}
div.uidock-header-tab:hover {
	background-color: rgb(60,60,60);
}
div.uidock-slot, div.uidock-slot-area {
	position: absolute;
	background-color: rgb(255,255,255,0.5);
	border: 1px solid rgb(0,0,0,0.5);
}
div.uidock-slot-focus {
	position: absolute;
	background-color: rgb(255,0,0,0.7)
}


/*-------------------------------------------------------------------
 Dialog
-------------------------------------------------------------------*/
.uidialog-frame {
	position: absolute;
	align-items: center;
	margin: 0px;
	color: var(--font-color);
	background-color: rgba(10,10,10,0);
}
.uidialog-frame:hover {
	background-color: rgba(120,80,10,0.4);
}
.uidialog {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	margin: 0;
	padding: 0;
	outline: 1px;
	color: var(--font-color);
	font: 400 13.333px Arial;
	background-color: var(--bkgnd-color);
	/*background-color: transparent;*/
}
.uidialog-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	margin: 0;
	padding: 0;
	color: var(--font-color);
	border-bottom: 1px solid rgba(100, 100, 100, 0.6);
	background-color: var(--dialog-header-bkgnd-color);
	cursor: default;
}
.uidialog-header:hover {
	background-color: var(--dialog-header-bkgnd-highlight-color);
}
.uidialog-contents {
	position: absolute;
	margin: 0;
	padding: 0;
	/*margin-top: 3px;*/
	margin-top: 0px;
	color: var(--font-color);
	background-color: var(--bkgnd-color);
	/*background-color: transparent;*/
}
.uidialog-dock {
	position: absolute;
	margin: 0;
	padding: 0;
	outline: 1px;
	color: var(--font-color);
	font: 400 13.333px Arial;
	background-color: rgba(30,30,30,0.5);
}
.uidialog-contents-dock {
	position: absolute;
	margin: 0;
	padding: 0;
	margin-top: 0px;
	color: var(--font-color);
	background-color: transparent;
}


/*-------------------------------------------------------------------
 Modal Dialog
-------------------------------------------------------------------*/
.uimodal-background {
	position: absolute;
	margin: 0;
	padding: 0;
	outline: 1px;
	color: var(--font-color);
	background-color: rgba(0,0,0,0.4);
}


/*-------------------------------------------------------------------
 View
-------------------------------------------------------------------*/
.uiview {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	position: absolute;
	margin: 0;
	padding: 0;
	overflow : auto;
	overflow-x: hidden;
	color: var(--font-color);
	background-color: var(--bkgnd-color);
}
/*.uiview:hover {
	background-color: #555;
}*/
.uicollapsingheader > .uiview {
	position: static;
}
.uitabview-contents > .uiview {
	position: static;
}
.uirowcontainer > .uiview {
	position: static;
}
.uiview::-webkit-scrollbar {
    display: none;
}


/*-------------------------------------------------------------------
 GLView
-------------------------------------------------------------------*/
.uiglview {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	position: absolute;
	margin: 0;
	padding: 0;
	overflow : auto;
	overflow-x: hidden;
	color: var(--font-color);
	background-color: var(--bkgnd-color);
}
/*.uiglview:hover {
	background-color: #555;
}*/
.uicollapsingheader > .uiglview {
	position: static;
}
.uirowcontainer > .uiglview {
	position: static;
}
.uitabview-contents > .uiglview {
	position: static;
}
.uiglview::-webkit-scrollbar {
    display: none;
}


/*-------------------------------------------------------------------
 CesiumView
-------------------------------------------------------------------*/
/* .uicesiumview {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	position: absolute;
	margin: 0;
	padding: 0;
	overflow : auto;
	overflow-x: hidden;
	color: var(--font-color);
	background-color: transparent;
}
.uicollapsingheader > .uicesiumview {
	position: static;
}
.uirowcontainer > .uicesiumview {
	position: static;
}
.uitabview-contents > .uicesiumview {
	position: static;
}
.uicesiumview::-webkit-scrollbar {
    display: none;
} */


/*-------------------------------------------------------------------
 RowContainer
-------------------------------------------------------------------*/
.uirowcontainer {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	/*align-items: start;*/
	margin: 0;
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 0;
	background-color: transparent;
}
/*.uirowcontainer:nth-child(even) {
	background-color: var(--bkgnd-1th-color);
}
.uirowcontainer:nth-child(odd) {
	background-color: var(--bkgnd-2th-color);
}*/
.uirowcontainer:hover {
	background-color: var(--bkgnd-highlight-color);
}
.uilist > .uirowcontainer {
	position: static
}
.uilist .uirowcontainer:nth-child(even) {
	background-color: var(--list-bkgnd-1th-color);
}
.uilist .uirowcontainer:nth-child(odd) {
	background-color: var(--list-bkgnd-2th-color);
}
.uilist .uirowcontainer:hover {
	background-color: var(--list-bkgnd-highlight-color);
}
.uilist .uirowcontainer.active {
	background-color: rgba(255,0,0,0.3);
}
.uiconsole > .uirowcontainer {
	position: static
}
.uiconsole .uirowcontainer:hover {
	background-color: var(--list-bkgnd-highlight-color);
}
.uiview > .uirowcontainer {
	position: static;
}
.uirowcontainer > .uirowcontainer {
	position: static;	
}
.uitree2 .uirowcontainer {
	position: static;
}
.uistatusbar .uirowcontainer {
	position: static;
}
.contextmenu-item .uirowcontainer {
	position: static;
	background-color: transparent;
}


/*-------------------------------------------------------------------
 Button
-------------------------------------------------------------------*/
.uibutton {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin: 0;
	margin-left: 1px;
	margin-right: 1px;
	padding: 0;
	outline: 0px solid rgba(200, 200, 200, 0.6);
	overflow:hidden;
	text-overflow: ellipsis;
    white-space:nowrap;
	color: var(--button-font-color);
	border-width: var(--button-border-width);
	border-color: var(--button-border-color);
	background-color: var(--button-bkgnd-color);
    -webkit-user-select:none; 
    -webkit-touch-callout:none; 
         -moz-user-select:none; 
         -ms-user-select:none; 
         user-select:none;	
}
.uibutton:hover {
	background-color: var(--button-hover-color);
}
.uibutton.remove {
	background-color: rgb(178, 25, 25);
	border-color: rgb(178, 25, 25);
	color: rgb(220, 220, 220);
}
.uibutton:disabled {
	background-color: var(--button-disabled-color);	
	border-color: var(--button-disabled-border-color);
	color: rgb(0,0,0);
}
.uirowcontainer > .uibutton {
	position: static;
}
.uitree .uibutton {
	display: inline-block;
	position: static;
}
.uitree2 .uibutton {
	display: inline-block;
	position: static;
	margin-left: 5px;
}
.uicollapsingheader > .uibutton {
	position: static;
	justify-content: flex-start;
	padding-left: 5px;
	margin-top: 4px;
	border-width: 0;
	color: var(--button-font-color);
	background-color: var(--collaps-bkgnd-color);
	font-family: 'fontello'
}
.uicollapsingheader > .uibutton:hover {
	background-color: var(--collaps-bkgnd-highlight-color);
}

/*-------------------------------------------------------------------
 MiniButton
-------------------------------------------------------------------*/
.uiminibutton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin: 0;
	padding: 0;
	outline: 0px solid rgba(200, 200, 200, 0.6);
	background-color: var(--minibutton-bkgnd-color);
}
.uidialog-header > .uiminibutton {
	position: static;
	margin: 0;
	padding: 0;
	background-color: var(--minibutton-bkgnd-color);
}

/*-------------------------------------------------------------------
 TabButton
-------------------------------------------------------------------*/
.uitabbutton {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	color: var(--font-color);
	background-color: transparent;
    -webkit-user-select:none; 
    -webkit-touch-callout:none; 
         -moz-user-select:none; 
         -ms-user-select:none; 
         user-select:none;	
}
.uitabbutton.on {
	color: #DDD;
	font-weight:700;
 	border-bottom:2px solid #DDD;
}
.uitabview-header > .uitabbutton {
	position: static;
}
.uitabview-header > .uitabbutton.on {
	position: static;
}

/*-------------------------------------------------------------------
 Icon Button
-------------------------------------------------------------------*/
.uiiconbutton {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin: 0;
	padding: 0;
	outline: 0px solid rgba(200, 200, 200, 0.6);
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
	color: var(--button-font-color);
	border-width: var(--button-border-width);
	border-color: var(--button-border-color);
	background-color: var(--button-bkgnd-color);
    -webkit-user-select:none; 
    -webkit-touch-callout:none; 
         -moz-user-select:none; 
         -ms-user-select:none; 
         user-select:none;
	font-family: 'fontello'         
}
.uiiconbutton:hover {
	background-color: var(--button-hover-color);
}
.uirowcontainer > .uiiconbutton {
	position: static;
}
.uiiconlist-item > .uiiconbutton {
	position: static;
}
.uidialog-header > .uiiconbutton {
	position: static;
	margin: 0;
	padding: 0;
}
.uitree .uiiconbutton {
	display: inline-block;
	position: static;
}
.uitree2 .uiiconbutton {
	display: inline-block;
	position: static;
	margin-left: 5px;
}


/*-------------------------------------------------------------------
 Image Button
-------------------------------------------------------------------*/
.uiimagebutton {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin: 0;
	padding: 0;
	outline: 0px solid rgba(200, 200, 200, 0.6);
	overflow:hidden;
	text-overflow: ellipsis;
    white-space:nowrap;
	color: var(--button-font-color);
	border-width: var(--button-border-width);
	border-color: var(--button-border-color);
	background-color: var(--button-bkgnd-color);
    -webkit-user-select:none; 
    -webkit-touch-callout:none; 
         -moz-user-select:none; 
         -ms-user-select:none; 
         user-select:none;
	font-family: 'fontello'         
}
.uiimagebutton:hover {
	background-color: var(--button-hover-color);
}
.uirowcontainer > .uiimagebutton {
	position: static;
}
.uiiconlist-item > .uiimagebutton {
	position: static;
}
.uitree .uiimagebutton {
	display: inline-block;
	position: static;
}
.uitree2 .uiimagebutton {
	display: inline-block;
	position: static;
	margin-left: 5px;
}


/*-------------------------------------------------------------------
 Radio Button
-------------------------------------------------------------------*/
.uiradio {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin: 0;
	padding: 0;
	outline: 0px solid rgba(200, 200, 200, 0.6);
	color: var(--button-font-color);
	background-color: var(--bkgnd-color);
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
         -moz-user-select: none; 
         -ms-user-select: none; 
         user-select: none;	
}
.uirowcontainer > .uiradio {
	position: static;
}
.uitree .uiradio {
	display: inline-block;
	position: static;
}
.uitree2 .uiradio {
	display: inline-block;
	position: static;
}
.uicollapsingheader > .uiradio {
	position: static;
	justify-content: flex-start;
	padding-left: 5px;
	border-width: 0;
	background-color: var(--collaps-bkgnd-color);
	font-family: 'fontello'
}
.uicollapsingheader > .uiradio:hover {
	background-color: var(--collaps-bkgnd-highlight-color);
}

/*-------------------------------------------------------------------
 uispace
-------------------------------------------------------------------*/
.uispace {
	display: inline-flex;
	align-items: center;
	position: absolute;
	margin: 0;
	padding: 0;
	background-color: transparent;
}
.uirowcontainer > .uispace {
	position: static;
}


/*-------------------------------------------------------------------
 uitext
-------------------------------------------------------------------*/
.uitext {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	top: 50%;
	position: absolute;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	color: #CCC;
	overflow:hidden;
	text-overflow: ellipsis;
    white-space:nowrap;
	background-color: transparent;
}
.uidialog-header > .uitext {
	position: static;
	background-color: transparent;
}
.uirowcontainer > .uitext {
	position: static;
	height: 100%;
}
.uiiconlist-item > .uitext {
	position: static;
	height: 100%;
}
.uitree .uitext {
	display: inline-flex;
	position: static;
	height: 100%;
}
.uitree2 .uitext {
	position: static;
	height: 100%;
}

/* .uiview > .uitext {
	margin-left: 5px;
	margin-right: 5px;
} */


/*-------------------------------------------------------------------
 uiinput
-------------------------------------------------------------------*/
.uiinput {
	display: inline-flex;
	align-items: center;
	position: absolute;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	border: 0;
	outline: 0;
	text-align: center;
	color: var(--font-color);
	background-color: var(--input-bkgnd-color);
}
.uiinput[type=number] {
	-moz-appearance: textfield;
}
.uiinput[type=number]::-webkit-inner-spin-button, 
.uiinput[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.uiinput:disabled {
	color: rgb(0,0,0);
	background-color: var(--input-disable-bkgnd-color);
}
.uiinput:read-only {
	color: var(--font-readonly-color);
}
.uirowcontainer > .uiinput {
	position: static;
	margin-right: 2px;
}
.uitree .uiinput {
	position: static;
	/* margin-right: 5px; */
}
.uitree2 .uiinput {
	position: static;
	margin-left: 5px;
	padding-left: 5px;
	text-align: left;
}
.uislider .uiinput {
	position: static;
	margin: 0;
	border: 0;
	outline: 0;
}
.uidraginput .uiinput {
	position: static;
}


/*-------------------------------------------------------------------
 ui dragger
-------------------------------------------------------------------*/
.uidragger {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	border: 0;
	outline: 0;
	text-align: center;
	overflow:hidden;
	text-overflow: ellipsis;
    white-space:nowrap;	
	color: var(--font-color);
	background-color: var(--dragger-bkgnd-color);
	cursor: col-resize;
}
.uirowcontainer > .uidragger {
	position: static;
}
.uidraginput > .uidragger {
	position: static;
}
.uidragger.active {
	background-color: #333;
	cursor: none;
}
.uidragger.disable {
	color: #000;
	cursor: default;
}


/*-------------------------------------------------------------------
 ui inputdrag
-------------------------------------------------------------------*/
.uidraginput {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-align: center;
	overflow:hidden;
	text-overflow: ellipsis;
    white-space:nowrap;	
	color: var(--font-color);
	background-color: transparent;
	cursor: none;
}
.uirowcontainer > .uidraginput {
	position: static;
	margin-right: 2px;
}
.uidraginput.disabled > .uiinput {
	position: static;
	cursor: default;
}
.uidraginput > .uiinput {
	position: static;
	cursor: ns-resize;
}
.uidraginput.drag > .uiinput {
	position: static;
	background-color: #333;
}



/*-------------------------------------------------------------------
 ui progress
-------------------------------------------------------------------*/
.uiprogress {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	border-radius: 0px;
	text-align: center;
	overflow:hidden;
	text-overflow: ellipsis;
    white-space:nowrap;	
	color: var(--font-color);
	background-color: var(--progress-bkgnd-color);
	cursor: default;
}
.uiprogress::-webkit-progress-value {
	background-color: rgba(150,50,10,1);
}
.uiprogress::-webkit-progress-bar {
	background-color: var(--progress-bkgnd-color);
}
.uiprogress::-moz-progress-bar {
	background-color: rgba(150,50,10,1);
}
.uirowcontainer > .uiprogress {
	position: static;
	margin-right: 2px;
}


/*-------------------------------------------------------------------
 uicheckbox
-------------------------------------------------------------------*/
.uicheckbox {
	display: inline-flex;
	align-items: center;
	position: absolute;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-align: center;
	color: var(--font-color);
	/*background-color: var(--bkgnd-color);*/
	background-color: transparent;
    -webkit-user-select:none; 
    -webkit-touch-callout:none; 
         -moz-user-select:none; 
         -ms-user-select:none; 
         user-select:none;
}
/*.uicheckbox input {
     background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 16px;
    width: 16px;
}*/
.uirowcontainer > .uicheckbox {
	display: flex;
	align-items: center;
	position: static;
}
.uitree .uicheckbox {
	position: static;
	text-align: left;
}
.uitree2 .uicheckbox {
	position: static;
	text-align: left;
}
.uicheckbox input {
	position: static;
}
.uicheckbox label {
	position: static;
	display: flex;
	align-items: center;
}


/*-------------------------------------------------------------------
 uislider
-------------------------------------------------------------------*/
.uislider {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;	
	margin: 0;
	padding: 0;
	outline: 0px solid rgba(200, 200, 200, 0.6);
	color: var(--font-color);
	background-color: transparent;
}
.uislider-input {
	margin: 0;
	margin-right: 5px;
	padding: 0;
	border: 0;
	outline: 0;
	text-align: center;
	color: var(--font-color);
	background-color: var(--slider-bkgnd-color);
}
.uislider-range {
  -webkit-appearance: none;
  outline: none;
  background-color: var(--slider-bkgnd-color);
}
.uislider-range:hover {
  background-color: var(--slider-bkgnd-highlight-color);
}
.uislider-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 18px;
  background: var(--slider-thumb-bkgnd-color);
  cursor: pointer;
}
.uislider-range.play {
	background-color: var(--slider-play-bkgnd-color);
}
.uislider-range.play::-webkit-slider-thumb {
	background: rgb(43, 150, 199);
}  
.uirowcontainer > .uislider {
	position: static;
}
.uitree .uislider {
	/* display: inline-block; */
	position: static;
}
.uitree2 .uislider {
	/* display: inline-block; */
	position: static;
	margin-left: 5px;
}


/*-------------------------------------------------------------------
 Select
-------------------------------------------------------------------*/
.uiselect {
	display: flex;	
	justify-content: center;
	align-items: center;
	position: absolute;	
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;	
	margin: 0;
	padding: 0;
	border: 1px solid rgba(200, 200, 200, 0.6);
	outline: 0px solid rgba(200, 200, 200, 0.6);
	color: var(--font-color);
	background-color: transparent;
}
.uiselect option {
	background-color: var(--bkgnd-highlight-color);
}
.uirowcontainer > .uiselect {
	position: static;
}
.uitree .uiselect {
	position: static;
}
.uitree2 .uiselect {
	position: static;
}


/*-------------------------------------------------------------------
 TextArea
-------------------------------------------------------------------*/
.uitextarea {
	display: table-row;
	justify-content: space-between;
	align-items: center;
	position: absolute;	
	margin: 0;
	padding: 3px;
	border: 0;
	resize: none;
	cursor: auto;
	/*white-space: nowrap;*/
    white-space: pre;
    word-wrap: normal;
	outline: 0px solid rgba(200, 200, 200, 0.6);
	font: 400 1rem Consolas;
	color: var(--font-color);
	background-color: var(--textarea-bkgnd-color);
}
.uitextarea.underline {
	line-height: 21px;
	background-image:
		-webkit-linear-gradient(left, #111 3px, transparent 3px), 
		-webkit-linear-gradient(right, #111 3px, transparent 3px), 
		-webkit-linear-gradient(#111 20px, #222 20px, #222 21px, #111 21px);
	background-repeat: repeat-y;
	background-size: 100% 100%, 100% 100%, 100% 21px;
	background-attachment: local;
}
.uitextarea:disabled {
	color: rgb(0,0,0);
	background-color: var(--input-disable-bkgnd-color);
}
.uirowcontainer > .uitextarea {
	position: static;
	margin-right: 2px;
	/* resize: none; */
}


/*-------------------------------------------------------------------
 ColorPicker
-------------------------------------------------------------------*/
.uicolorpicker {
	display: inline-flex;
	align-items: center;
	position: absolute;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: bold;
	text-align: center;
	color: #000;
	background-color: var(--bkgnd-color);
}
.uicolorpicker[type=number]::-webkit-inner-spin-button, 
.uicolorpicker[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.uirowcontainer > .uicolorpicker {
	position: static;
	margin-right: 2px;
}
.uitree .uicolorpicker {
	position: static;
}
.uitree2 .uicolorpicker {
	position: static;
	margin-left: 5px;
	padding-left: 5px;
	text-align: left;
}


/*-------------------------------------------------------------------
 XYPlot
-------------------------------------------------------------------*/
.uixyplot {
	display: inline-block;
	justify-content: flex-start;
	flex-direction: row;
	position: absolute;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: bold;
	text-align: center;
	color: #000;
	background-color: var(--bkgnd-color);
}
.uirowcontainer > .uixyplot {
	position: static;
	margin-right: 2px;
}
.uitree .uixyplot {
	position: static;
}
.uitree2 .uixyplot {
	position: static;
}


/*-------------------------------------------------------------------
 Collapsing Header
-------------------------------------------------------------------*/
.uicollapsingheader {
	/*display: inline-block;*/
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	position: absolute;
	margin: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0;
	outline: 0px solid rgba(200, 200, 200, 0.6);
	color: var(--font-color);
	/*background-color: var(--collaps-bkgnd-color);*/
	background-color: transparent;
}
.uirowcontainer > .uicollapsingheader {
	position: static;
}
/*.uicollapsingheader:hover {
	background-color: var(--collaps-bkgnd-highlight-color);
}
*/

/*-------------------------------------------------------------------
 TabView
-------------------------------------------------------------------*/
.uitabview {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-direction: column;
	position: absolute;	
	margin: 0;
	padding: 0;
	outline: 0px solid rgba(200, 200, 200, 0.6);
	color: var(--font-color);
	background-color: transparent;
}
.uirowcontainer > .uitabview {
	position: static	
}
.uitabview-header {
	display: flex;
	justify-content: flex-start;	
	flex-direction: row;
	background-color: var(--tab-bkgnd-color)
}
.uitabview-contents {
	background-color: transparent;
}


/*-------------------------------------------------------------------
 List 
-------------------------------------------------------------------*/
.uilist {
	display: table-row;
	margin: 0;
	padding: 0;
	color: var(--font-color);
	overflow : auto;
	background-color: transparent;
}
.uirowcontainer > .uilist {
	position: static;
}


/*-------------------------------------------------------------------
 Icon List 
-------------------------------------------------------------------*/
.uiiconlist {
	display: table-row;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	margin: 0;
	padding: 0;
	color: var(--font-color);
	overflow : auto;
	background-color: transparent;
}
.uirowcontainer > .uiiconlist {
	position: static;
}

.uiiconlist-item {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 0;
	padding: 0;
	color: var(--font-color);
	overflow : none;
	background-color: transparent;
}
.uirowcontainer > .uiiconlist {
	position: static;
}


/*-------------------------------------------------------------------
 Console
-------------------------------------------------------------------*/
.uiconsole {
	display: table-row;
	margin: 0;
	padding: 0;
	color: var(--font-color);
	overflow : auto;
	background-color: var(--dark-bkgnd-color);
}
.uirowcontainer > .uiconsole {
	position: static;
}
.uiconsole:hover {
	background-color: var(--dark-bkgnd-color);
}


/*-------------------------------------------------------------------
 Table
-------------------------------------------------------------------*/
.uitable {
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
	color: var(--font-color);
	overflow : auto;
	background-color: transparent;
	border-collapse: collapse;
}
.uitable-header {
	background-color: var(--table-header-bkgnd-color);
}
.uitable th,td {
	text-align: center;
	border-right: 1px solid #FFF;
	/* padding: 5px; */
	width: 100px;
}
.uitable tr:nth-child(even) {
	background-color: var(--table-bkgnd-1th-color);
}
.uitable tr:nth-child(odd) {
	background-color: var(--table-bkgnd-2th-color);	
}
.uitable tr:hover {
	background-color: var(--table-bkgnd-highlight-color);
}
.uirowcontainer > .uitable {
	position: static;
}


/*-------------------------------------------------------------------
 Tree
-------------------------------------------------------------------*/
.uitree {
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
	color: var(--font-color);
	overflow : auto;
	/*background-color: transparent;*/
	background-color: var(--bkgnd-color);
}
.uitree div {
	background-color: transparent;
}
.uitree li {
	list-style: none;
	padding-left: 25px;	
	/*width: calc(100% - 25px);*/
	height: 100%;
}
.uitree ul {
	margin: 0px;
	padding-left: 0px;
}
.uitree .item-hide ul {
	display: none;
}
.li-leaf {
	display: inline-block;
	align-items: center;
}
.li-leaf:before {
	display: flex;
	align-items: center;
	justify-content: center;
	/*content: '\e78b';*/
	content: '\e814';
	font-family: 'fontello'
}
.li-parent:before {
	display: flex;
	align-items: center;
	justify-content: center;
	/*content: '\2d';*/
	content: '\e801';
	font-family: 'fontello'
}
.li-collapse:before {
	display: flex;
	align-items: center;
	justify-content: center;
	/*content: '\2b';*/
	content: '\e800';
	font-family: 'fontello'
}
.uitree *:before {
	width: 17px;
	height: 17px;
	display: inline-block;
}
.uirowcontainer > .uitree {
	position: static;
}


/*-------------------------------------------------------------------
 Tree2 (using table tag)
-------------------------------------------------------------------*/
.uitree2 {
	display: table-row;
	/*display: flex;*/
	flex-direction: column;
	margin: 0;
	padding: 0;
	color: var(--font-color);
	overflow : auto;
	overflow-x: hidden;
	background-color: transparent;
	border-collapse: collapse;
    -webkit-user-select:none; 
    -webkit-touch-callout:none; 
         -moz-user-select:none; 
         -ms-user-select:none; 
         user-select:none;	
}
.uitree2.fixed {
	display: table-row;
}
.uitree2-header {
	background-color: var(--table-header-bkgnd-color);
}
.uitree2 tbody, tr, td {
	display: flex;
	text-align: left;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	border: 0;
	overflow: hidden;
	white-space: nowrap;
	table-layout: fixed;
}
.uitree2 .item2-selected,.item2-show-selected,.item2-hide-selected {
	background-color: rgba(152, 51, 0, 0.8);
}

.uitree2 .item2-cselected,.item2-show-cselected,.item2-hide-cselected {
	background-color: rgba(152, 51, 0, 0.5);
}

.uitree2 .highlight {
	background-color: rgba(152, 152, 0, 0.8);
}

.uitree2 .item2-td-leaf:before {
	display: flex;
	align-items: center;
	justify-content: center;
	content: '\e814';
	font-family: 'fontello'
}
.uitree2 .item2-td-parent:before {
	display: flex;
	align-items: center;
	justify-content: center;
 	content: '\e801';
	font-family: 'fontello'
}
.uitree2 .item2-td-collapse:before {
	display: flex;
	align-items: center;
	justify-content: center;
	content: '\e800';
	font-family: 'fontello'
}
.uitree2 *:before {
	width: 17px;
	height: 17px;
	display: inline-block;
}
/*.uitree2 tr:nth-child(even) {
	background-color: var(--table-bkgnd-1th-color);
}
.uitree2 tr:nth-child(odd) {
	background-color: var(--table-bkgnd-2th-color);	
}*/
.uitree2 .item2:hover {
	background-color: var(--table-bkgnd-highlight-color);
}
.uirowcontainer > .uitree2 {
	position: static;
}


/*-------------------------------------------------------------------
 Tooltip
-------------------------------------------------------------------*/
.uitooltip {
	position: absolute;
	margin: 0px;
	padding: 3px 10px 3px 10px;
	white-space: pre-line;
	pointer-events: none;
	color: var(--font-color);
	background-color: rgba(10,10,10,0.9);
}


/*-------------------------------------------------------------------
 MenuBar
-------------------------------------------------------------------*/
.uimenubar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	color: var(--font-color);
	background-color: var(--menubar-bkgnd-color);
	cursor: default;
}

.uimenubar-item {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;	
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 10px;
	padding-right : 10px;
	background-color: transparent;
	cursor: default;	
}

.uimenubar-item:hover {
	background-color: var(--menubar-item-bkgnd-highlight-color)
}


/*-------------------------------------------------------------------
 StatusBar
-------------------------------------------------------------------*/
.uistatusbar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	color: var(--font-color);
	background-color: #003;
	cursor: default;
}
.uistatusbar.debug {
	background-color: #400;
}
.uistatusbar .uirowcontainer:hover {
	background-color: transparent;
}


/*-------------------------------------------------------------------
 SideBar
-------------------------------------------------------------------*/
.uisidebar {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	margin: 0;
	padding: 0;
	color: var(--font-color);
	background-color: #111;
	cursor: default;
}
.uisidebar .uirowcontainer:hover {
	background-color: transparent;
}
.uisidebar .uirowcontainer {
	flex-direction: column;
}


/*-------------------------------------------------------------------
 loading animation
 https://loading.io/css/
-------------------------------------------------------------------*/
.lds-spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	position: relative;
	top: -40px;
	height: 100%;
  }
  .lds-spinner div {
	transform-origin: 40px 40px;
	animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
	content: " ";
	display: block;
	position: absolute;
	top: 3px;
	left: 37px;
	width: 4px;
	height: 12px;
	border-radius: 20%;
	background: #fff;
  }
  .lds-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
  }
  @keyframes lds-spinner {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }

